<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nouvelle participation !</h1>

    <p><%= @participant.first_name %> <%= @participant.last_name %> vient de rejoindre ton événement :</p>

    <p><strong><%= @event.title %></strong></p>

    <p>Tu peux consulter la liste des participants depuis ton espace admin.</p>
  </body>
</html>
